body {
  background-color: #ffff00;
  overflow: hidden;
}

main::after {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0) 35%
  );
  min-height: 100%;
   width: 200%; 
  position: fixed;
  top: 0;
  left: 0;
}

main .character {
  display: none;
/* height: 100vh; */
}

main .character.selected {
  display: block;
}

main .character .image-homer-simpson,
main .character .image-bart-simpson,
main .character .image-lisa-simpson,
main .character .image-marge-simpson,
main .character .image-maggie-simpson{
 width: 40%;
 margin-left: 42rem;
 max-width: 100%;
 margin-top: 235px;

}

main .character .image-homer-simpson{
width: 60%;
position: fixed;
left: -120px;
top: -108px;
}


main .character .logo {
  /* width: 60%;
padding: 20px;
position: absolute;
top: 0;
margin-top:20px; 
 left: 150px;  */
  width: 100%;
  /* background-color: blue;     */

  position: relative;
 left: 30px;
 bottom: 100px;
}

 .content {
  /* background-color: aqua;      */
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   min-height: 100%;
  max-width: 550px;
  z-index: 1;
}

main .character .character-name,
main .character .character-description {
  transform: translateX(40px);
}

main .character .character-name {
  margin-bottom: 20px;
  /* background-color: deepskyblue; */
  font-family: "Rufina";
  font-weight: 700;
  color: #fff;
}

main .character .character-description {
  margin-top: 10px;
  max-width: 100%;
  font-family: "Oxygen";
  color: #dcdcdc
}

.buttons {
  /* background-color: aquamarine; */
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 25px;
  background-color: #964b00;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.button img {
  border-radius: 50%;
}

.button.selected {
  transform: scale(1.2);
  box-shadow: 0 0 20px #f5f5dc;
}


